#Container{
  height: 100%;
  width: 100%;
  margin: 0px;

}
#header{
  width: 100%;
  height: 13%;
  background-color: rgb(169, 204, 153);
}
#header .logo{
  width: 90px;
  height: 90px;
  position: relative;
  top: 0px;
  margin-left: 10px;
  float: left;
}
#header .logotext{
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  position: relative;
  top: 20px;
  margin-left: 20px;
  color: black;
  float: left;
  
}
#header .logotext span{
  color: black;
}
#header .signin{
  width: 70px;
  height: 70px;
  position: relative;
  top: 20px;
  margin-right: 10px;
  float: right;
}
#header .signintext{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 45px;
  margin-right: 5px;
  color: black;
  float: right;
}
#header .signin:hover{
  cursor: pointer;
  
}
#header .signintext:hover{
  cursor: pointer;
  color: rgb(146, 28, 28);
}
#header .abouttext{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 45px;
  margin-right: 20px;
  
  color: black;
  float: right;
  
}
#header .abouttext:hover{
  cursor: pointer;
  color: rgb(146, 28, 28);
}

#header .contact_us{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 45px;
  margin-right: 20px;
  color: black;
  float: right;
}

#header .contact_us span:hover{
  color: rgb(146, 28, 28);
  cursor: pointer;
  font-size: 20px;

}



#content{
  width: 100%;
  height: 77%;
  background-color: white;
}
#content .text{
  font-size: 40px;
  font-family: 'Pacifico', cursive;

  font-weight: bold;
  position: relative;
  top: 50px;
  margin-left: 20px;
}


#content .logoh{
  width: 400px;
  height: 300px;
  position: relative;
  top: 120px;
  margin-left:80px;
  float: left;
}


#content .contentlogo{
  width: 500px;
  height: 500px;
  position: relative;
  top: -100px;
  margin-right: 50px;
  float: right;
}
#footer{
  background-color: rgb(169, 204, 153);
  width:100%;
  height: 10%;
}
#footer .footertext{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 30px;
  margin-left: 10px; 
  float: left;
}
#footer .socialmediaicons{
  width: 50px;
  height: 50px;
  position: relative;
  top: 7px;
  margin-right: 30px;
  float: right;
  
}
#popup{
  width:100%;
  height:100%;
  position:fixed;
  background-color: rgba(241, 207, 207, 0.741);
  z-index: 111;
  display: none;
}
#popupwindow{
  width: 400px;
  height: 600px;
  position: relative;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  border: 5px solid rgb(122, 167, 101);
}
#popupheader{
  width:100%;
  height: 80px;
  line-height: 90px;
  background-color: rgb(169, 204, 153);
  text-align: center;
  font-size: 20pt;
  color: black;
  font-weight: bold;
 
}
#signin{
  width: 100%;
  height: calc(100% - 60px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#signin .usernamelabel{
  display: block;
  padding: 20px 0px 3px 0px;
  font-size: 25px;
  font-weight: bold;
}
#signin .usernamelabel span{
  color: rgb(9, 9, 74);
}
#signin input{
  width: calc(100% - 40px);
  height: 25px;
  border-radius: 3px;
  border: 3px solid silver;
  margin-top: 10px;
  margin-left: 5px;
  
}
#signin .passwordlabel{
  display: block;
  padding: 20px 0px 3px 0px;
  font-size: 25px;
  font-weight: bold;
}
#signin .forgotpassword{
  display: block;
  text-align: right;
  font-size: 15pt;
  position: relative;
  top: 20px;
  margin-right: 10px;
}
#signin .forgotpassword label:hover{
 cursor: pointer;
 color:brown
}
#signin .signinbutton{
  width: 200px;
  height:30px;
  background-color: rgb(169, 204, 153);
  color: white;
  cursor: pointer;
  position: relative;
  top: 20px;
  margin-left: 90px;
}
#signin .donthaveaccount{
  display: block;
  text-align: center;
  position: relative;
  top: 80px;
}
#signin .donthaveaccount label:hover{
  display: block;
  color: darkgreen;
  text-align: centre;
  cursor: pointer;
}
#signup{
  width: 100%;
  height: calc(100% - 60px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#signup Label{
  display: block;
  padding: 10px 0px 3px 0px;
  font-weight: bold;
  margin-left: 2px;
  
}
#signup  input{
  width: calc(100% - 40px);
  height: 20px;
  border-radius: 3px;
  border:3px solid silver ;
  margin-left: 2px;
  margin-top: 5px;
}
#role{
  width: calc(100% - 13px);
  height: 33px;
  border-radius: 3px;
  border:3px solid silver ;
  margin-left: 2px;
  margin-top: 5px;
}
#signup button{
  width: 200px;
  height:30px;
  background-color: rgb(169, 204, 153);
  color: white;
  cursor: pointer;
  position: relative;
  top: 15px;
  margin-left: 90px;
  
}
#signup .haveaccount{
  display: block;
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 13pt;
}
#signup span:hover{
  color: green;
  cursor: pointer;
  text-align: center;
  
}

/* About Popup Overlay */
#aboutPopup {
  display: none;
  position: fixed;
  z-index: 112;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* About Popup Content Box */
.about-popup-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid rgb(122, 167, 101);
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
  position: relative;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

/* About Content Layout */
.about-content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* About Image */
.about-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

/* About Text */
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: rgb(40, 90, 40);
}

.about-text p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #555;
}

.social-icons a:hover {
  color: rgb(122, 167, 101);
}


.contact-popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.contact-popup-content .close-btn:hover {
  color: red;
}



.contact-popup-content button:hover {
  background-color: #333;
}

.contact-popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.contact-popup-content .close-btn:hover {
  color: red;
}
/* contact Popup Content Box */
.contact-popup-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid rgb(122, 167, 101);
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
  position: relative;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

/* contact Content Layout */
.contact-content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* contact Image */
.contact-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

/* contact Text */
.about-text {
  flex: 1;
}

.contact-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: rgb(40, 90, 40);
}

.contact-text p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #555;
}

.social-icons a:hover {
  color: rgb(122, 167, 101);
}


.contact-popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.contact-popup-content .close-btn:hover {
  color: red;
}



.contact-popup-content button:hover {
  background-color: #333;
}

.contact-popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.contact-popup-content .close-btn:hover {
  color: red;
}
