.dashboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 13% 77% 10%;
}

.dashboard .header {
  grid-row: 1/2;
  background-color: rgb(169, 204, 153);
}

.dashboard .menu {
  grid-row: 2/3;
  background-color: bisque;
}

.header .logo {
  width: 100px;
  height: 80px;
  position: relative;
  top: 10px;
  margin-left: 10px;
  float: left;
}

.header .logotext {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  position: relative;
  top: 30px;
  margin-left: 20px;
  color: black;
  float: left;
}

.header .logout {
  width: 50px;
  height: 50px;
  position: relative;
  top: 40px;
  margin-right: 10px;
  float: right;
}

.header label {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 50px;
  margin-right: 10px;
  color: black;
  float: right;
}

.header .logout:hover {
  cursor: pointer;
}

.footer {
  grid-row: 3/4;
  background-color: rgb(169, 204, 153);
}

.footer .socialmediaicons {
  width: 50px;
  height: 50px;
  position: relative;
  top: 7px;
  margin-right: 30px;
  float: right;
}
