
  .menubar {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
  }
  
  
  
  .chef {
    width: 500px;
    height: 400px;
    position: relative;
    top: 100px;
    margin-left:50px;
    float: left;
  }
  
  
  
  .chef-word {
    font-size: 40px;
    font-family: 'Pacifico', cursive;

    font-weight: bold;
    position: relative;
    top: 300px;
    margin-left: 10px;
    float: left;
  }
  
  .button-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-top: 150px;
    margin-right: 100px;
  }
  
  .green-button {
    width: 250px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 18px;
    text-align: center;
    background-color: #a6d785;
    border: 1px solid #444;
  }
  
  .green-button:hover {
    background-color: #90c775;
    cursor: pointer;
  }
  